.logopdf{
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    display: block;
}
.data{
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #0e0d0d;
    border-radius: 4px;
    background-color: #cfaa83;
}